
@import url('https://fonts.googleapis.com/css?family=Averia+Serif+Libre');
@import url('https://fonts.googleapis.com/css?family=Averia+Libre');

h1 {
    color: #eb4300;
    font-family: "Averia Libre", "cursive";
    font-size: 68px;
    margin-top: 25px;
    margin-bottom: 25px;
}

h2 {
    font-family: "Averia Libre", "cursive";
    font-weight: bold;
    margin-top: 25px;
}

h3 {
    font-family: "Averia Libre", "cursive";
}

a > h3 {
    color: black;
    border-bottom: 5px solid #eb4300;
    text-decoration: none;
    padding-bottom: 3px;
    margin-bottom: 20px;
}

p {
    font-family: "Open Sans", "sans-serif";
}

.intro {
    color: #ffffff;
    background-color: #272727;
    padding-top: 15px;
}

.img {
    padding-top: 10px;
    padding-bottom: 25px;
}

// Extra small devices (portrait phones, less than 576px)
// No media query since this is the default in Bootstrap


// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) { ... }

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) { ... }

// Large devices (desktops, 992px and up)
@media (min-width: 992px) { ... }

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) { ... }