@import url('https://fonts.googleapis.com/css?family=Averia+Libre');
@import url('https://fonts.googleapis.com/css?family=Open+Sans');

body {
    background-color: #fbfbfb; 
}

h1 {
    color: #cc3300;
    font-family: "Averia Libre", "cursive";
    font-size: 68px;
    margin-top: 25px;
    margin-bottom: 25px;
}

h2 {
    font-family: "Averia Libre", "cursive";
    font-weight: bold;
    margin-top: 25px;
}

h3 {
    font-family: "Averia Libre", "cursive";
}

p {
    font-family: "Open Sans", "sans-serif";
}

a > h3 {
    color: black;
    border-bottom: 5px solid #cc3300;
    text-decoration: none;
    margin-top: 10px;
    margin-bottom: 20px;
    padding-bottom: 4px;
}

a:hover {
    text-decoration: none;
}

.intro {
    color: #ffffff;
    background-color: #272727;
    padding-top: 15px;
}

.img {
    padding-top: 10px;
    padding-bottom: 25px;
}

.btn {
    color: #272727;
    font-family: "Averia Libre", "cursive";
    border-color: #272727;
    border-radius: 0;
    margin-top: 30px;
    margin-bottom: 15px;
}

.btn:hover {
    background-color: #272727;
}

.collapse {
    font-family: "Open Sans", "sans-serif";
    color: #000000;
    margin-bottom: 25px;
}

.footer {
    color: #ffffff;
    background-color: #272727;
    text-align: right;
    padding-top: 15px;
}


/* Extra small devices (portrait phones, less than 576px)
    No media query since this is the default in Bootstrap */


/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) { ... }

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) { 

h1 {
    font-size: 90px;
}

h2 {
    font-size: 40px;
}

h3 {
    font-size: 32px;
}

p {
    font-size: 17px;
}

.btn {
    font-size: 28px;
}

 }

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) { ... }

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) { ... }